.admin-manager {
    margin-left: 5px;
    margin-right: 5px;
}

    .admin-manager #table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .admin-manager #table td,
        .admin-manager #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .admin-manager #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .admin-manager #table tr:hover {
            background-color: #ddd;
        }

        .admin-manager #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #6d5a2c;
            color: white;
        }

    .admin-manager #title {
        color: #6d5a2c;
    }

    .admin-manager #subtitle {
        color: #ba9545;
    }

    .admin-manager .input-group input[type="text"] {
        width: 100px;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 6px;
        transition: width 0.4s ease-in-out;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

        .admin-manager .input-group input[type="text"]:focus {
            width: 250px;
        }

    .admin-manager .formItem {
        margin-top: 20px;
        font-size: 16px;
    }

        .admin-manager .formItem input {
            width: 95%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            padding: 3px;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
            margin-top: 3px;
        }

    .admin-manager .buttomForm button {
        border: none;
        padding: 12px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
    }

    .admin-manager .cancel-buttom {
        border: none;
        background-color: grey;
        padding: 12px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px;
    }

    .admin-manager .buttomForm .primary {
        background-color: #008cba;
    }

    .admin-manager .buttomForm .disabled {
        background-color: #b4babc;
        pointer-events: none;
        opacity: 0.65;
        cursor: not-allowed;
    }

    .admin-manager .checkbox {
        font-size: 16px;
        margin-top: 20px;
    }

    .admin-manager #checkbox {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    .admin-manager .left {
        float: left;
        margin: 2px;
    }

    .admin-manager .right {
        float: right;
        margin: 2px;
    }

    .admin-manager .center {
        margin: auto;
        width: 60%;
        text-align: center;
    }

    .admin-manager .right {
        margin: auto;
        width: 60%;
        text-align: right;
    }

    .admin-manager .white-color {
        color: white;
    }

    .admin-manager .text-align-center {
        text-align: center;
    }

    .admin-manager .text-align-left {
        text-align: left;
    }

    .admin-manager .text-align-right {
        text-align: right !important;
    }

    .admin-manager .text-align-justify {
        text-align: justify;
    }

    .admin-manager .float-right {
        float: right !important;
    }

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml30 {
    margin-left: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt20 {
    margin-top: 20px;
}

.mt35 {
    margin-top: 35px;
}

.pb10 {
    padding-bottom: 10px !important;
}

.p1 {
    padding: 1px 1 !important;
}

.admin-manager .accountSettings {
    margin-left: 10px !important;
}

    .admin-manager .accountSettings img {
        border-radius: 50% !important;
    }

.admin-manager .accountData {
    margin-left: 10px !important;
    margin-top: 30px !important;
}

/* Grid System */
.admin-manager .row::after {
    content: "";
    display: table;
}

.admin-manager .pl2 {
    padding-left: 2px !important;
}

.admin-manager .pr2 {
    padding-right: 2px !important;
}

.admin-manager [class*="col-md-"] {
    float: left;
}

.admin-manager .col-md-1 {
    width: 8.33%;
}

.admin-manager .col-md-2 {
    width: 16.66%;
}

.admin-manager .col-md-3 {
    width: 25%;
}

.admin-manager .col-md-4 {
    width: 33.33%;
}

.admin-manager .col-md-5 {
    width: 41.66%;
}

.admin-manager .col-md-6 {
    width: 50%;
}

.admin-manager .col-md-7 {
    width: 58.33%;
}

.admin-manager .col-md-8 {
    width: 66.66%;
}

.admin-manager .col-md-9 {
    width: 75%;
}

.admin-manager .col-md-10 {
    width: 83.33%;
}

.admin-manager .col-md-11 {
    width: 91.66%;
}

.admin-manager .col-md-12 {
    width: 100%;
}
/* Grid System */


.admin-manager .input-group input {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.admin-manager .box-shadow {
    height: 40px;
    box-shadow: 0 0 8px 0 #888888;
}

.admin-manager .paginationStyle {
    display: inline-block;
    padding-left: 0;
    margin: 0px !important;
    border-radius: 4px;
}

.admin-manager .data-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px !important;
    padding: 0 8px;
}

.admin-manager .navbar-default {
    background-color: #ffffff00 !important;
    border-color: #ffffff0a !important;
}

.admin-manager .color-white {
    color: white !important;
}

.admin-manager .color-black {
    color: black !important;
}

/* version 1.01.02 additions */
.admin-manager .field-validation-error {
    color: darkred;
    font-size: small;
}

.admin-manager .datepicker-dropdown.datepicker-orient-left:after {
    left: 50% !important;
}

.admin-manager .datepicker-dropdown.datepicker-orient-top:before {
    border-top: 0 solid rgba(0, 0, 0, 0.15) !important;
}

.admin-manager .dropDownList {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 9px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    border-radius: 10px;
}

.admin-manager .dropDown {
    display: flex;
    height: 40px;
    background: #e4e4e4d4;
    color: black;
    padding: 20px !important;
    font-size: 16px !important;
    border-radius: 8px !important;
    align-items: center !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
}

.admin-manager .dropdown {
    position: relative;
    display: inline-block;
}

.admin-manager .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .admin-manager .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .admin-manager .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.admin-manager .dropdown:hover .dropdown-content {
    display: block;
}

.admin-manager .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.admin-manager .dnnPrimaryAction {
    margin-top: 0;
}
