.admin-manager {
    margin-left: 5px;
    margin-right: 5px;
}

    .admin-manager .table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        .admin-manager .table td,
        .admin-manager .table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .admin-manager .table tr:nth-child(even) {
            background-color: #fafafa42;
        }

        .admin-manager .table tr:hover {
            background-color: #ddd;
        }

    .admin-manager .dark-brown {
        color: #ba9545;
    }

    .admin-manager .red {
        color: red;
    }

    .admin-manager .yellowgreen {
        color: yellowgreen;
    }

    .admin-manager .background-dark-brown {
        background-color: #6d5a2c;
    }

    .admin-manager .background-color-gray {
        background: #e4e4e4d4;
    }

    .admin-manager .input-group input[type="text"] {
        width: 100px;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 6px;
        transition: width 0.4s ease-in-out;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

        .admin-manager .input-group input[type="text"]:focus {
            width: 250px;
        }

    .admin-manager .input-group {
        display: flex;
        align-items: center;
    }

        .admin-manager .input-group .form-control {
            flex: 1;
            box-shadow: 0 0 3px 0 #888888;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin: 0;
        }

    .admin-manager .input-group-btn {
        margin-right: -1px;
    }

.input-group-btn .dnnPrimaryAction {
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.admin-manager .formItem {
    margin-top: 20px;
    font-size: 16px;
}

    .admin-manager .formItem input {
        width: 95%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 3px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
        margin-top: 3px;
    }

.admin-manager .buttomForm button {
    border: none;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.admin-manager .cancel-buttom {
    border: none;
    background-color: grey;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.admin-manager .buttomForm .primary {
    background-color: #008cba;
}

.admin-manager .buttomForm .disabled {
    background-color: #b4babc;
    pointer-events: none;
    opacity: 0.65;
    cursor: not-allowed;
}

.admin-manager .checkbox {
    font-size: 16px;
    margin-top: 20px;
}

.admin-manager #checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.admin-manager .left {
    float: left;
    margin: 2px;
}

.admin-manager .right {
    float: right;
    margin: 2px;
}

.admin-manager .center {
    margin: auto;
    width: 60%;
    text-align: center;
}

.admin-manager .right {
    margin: auto;
    width: 60%;
    text-align: right;
}

.admin-manager .white-color {
    color: white;
}

.admin-manager .text-align-center {
    text-align: center;
}

.admin-manager .text-align-left {
    text-align: left;
}

.admin-manager .text-align-right {
    text-align: right !important;
}

.admin-manager .text-align-justify {
    text-align: justify;
}

.admin-manager .float-right {
    float: right !important;
}

.m10 {
    margin: 10px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml30 {
    margin-left: 30px;
}

.mr2 {
    margin-right: 2px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt1 {
    margin-top: 1px !important;
}

.mt5 {
    margin-top: 5px;
}

.mt20 {
    margin-top: 20px;
}

.mt35 {
    margin-top: 35px;
}

.mb25 {
    margin-bottom: 25px;
}

.pb10 {
    padding-bottom: 10px !important;
}

.p1 {
    padding: 1px 1 !important;
}

.p7 {
    padding: 7px 7px !important;
}

.admin-manager .accountSettings {
    margin-left: 10px !important;
}

    .admin-manager .accountSettings img {
        border-radius: 50% !important;
    }

.admin-manager .accountData {
    margin-left: 10px !important;
    margin-top: 30px !important;
}

/* Grid System */
.admin-manager .row::after {
    content: "";
    display: table;
    clear: both;
}

.admin-manager .pl2 {
    padding-left: 2px !important;
}

.admin-manager .pr2 {
    padding-right: 2px !important;
}

.admin-manager [class*="col-md-"] {
    float: left;
    box-sizing: border-box;
}

.admin-manager .col-md-1 {
    width: calc(8.33%);
}

.admin-manager .col-md-2 {
    width: calc(16.66%);
}

.admin-manager .col-md-3 {
    width: calc(25%);
}

.admin-manager .col-md-4 {
    width: calc(33.33%);
}

.admin-manager .col-md-5 {
    width: calc(41.66%);
}

.admin-manager .col-md-6 {
    width: calc(50%);
}

.admin-manager .col-md-7 {
    width: calc(58.33%);
}

.admin-manager .col-md-8 {
    width: calc(66.66%);
}

.admin-manager .col-md-9 {
    width: calc(75%);
}

.admin-manager .col-md-10 {
    width: calc(83.33%);
}

.admin-manager .col-md-11 {
    width: calc(91.66%);
}

.admin-manager .col-md-12 {
    width: calc(100%);
}
/* Grid System */

.admin-manager .input-group input {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.admin-manager .box-shadow {
    height: 40px;
    box-shadow: 0 0 8px 0 #888888;
}

.admin-manager .paginationStyle {
    display: inline-block;
    padding-left: 0;
    margin: 0px !important;
    border-radius: 4px;
}

.admin-manager .data-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px !important;
    padding: 0 8px;
}

.admin-manager .navbar-default {
    background-color: #ffffff00 !important;
    border-color: #ffffff0a !important;
}

.admin-manager .color-white {
    color: white !important;
}

.admin-manager .color-black {
    color: black !important;
}

/* version 1.01.02 additions */
.admin-manager .field-validation-error {
    color: darkred;
    font-size: small;
}

.admin-manager .datepicker-dropdown.datepicker-orient-left:after {
    left: 50% !important;
}

.admin-manager .datepicker-dropdown.datepicker-orient-top:before {
    border-top: 0 solid rgba(0, 0, 0, 0.15) !important;
}

.admin-manager .dropDownList {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 9px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    border-radius: 10px;
}

.admin-manager .dropDown {
    display: flex;
    height: 40px;
    background: #e4e4e4d4;
    color: black;
    padding: 20px !important;
    font-size: 16px !important;
    border-radius: 8px !important;
    align-items: center !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
}

.admin-manager .dropdown {
    position: relative;
    display: inline-block;
}

.admin-manager .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .admin-manager .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .admin-manager .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.admin-manager .dropdown:hover .dropdown-content {
    display: block;
}

.admin-manager .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.admin-manager .AM-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-manager .AM-d-flex {
    display: flex;
}

.admin-manager .AM-justify-content-center {
    justify-content: center;
}

.admin-manager .AM-justify-content-end {
    justify-content: flex-end;
}

.custom-input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-manager .dnnActions {
    padding-top: 0%;
}

.admin-manager .line-height-normal {
    line-height: normal;
}

.admin-manager .custom-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.AM-btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.AM-btn-sm {
    --bs-btn-padding-y: 0.25rem !important;
    --bs-btn-padding-x: 0.5rem !important;
    --bs-btn-font-size: 0.875rem !important;
    --bs-btn-border-radius: 0.25rem !important;
}

.AM-btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}

.AM-btn-info {
    --bs-btn-color: #000;
    --bs-btn-bg: #0dcaf0;
    --bs-btn-border-color: #0dcaf0;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #31d2f2;
    --bs-btn-hover-border-color: #25cff2;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #3dd5f3;
    --bs-btn-active-border-color: #25cff2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
}
