@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Upendo.Modules.UserManager.ViewModels.UserViewModel>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Services.Localization;
@using DotNetNuke.Security.Membership;

@{
    string ResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Impersonate.resx";
    string SharedResourceFile = "~/DesktopModules/MVC/Upendo.Modules.UserManager/App_LocalResources/Shared.resx";
}
<div class="userAdmin" id="Items-@Dnn.ModuleContext.ModuleId">
    <div class="modal-content">
        <p>
            You are about to impersonate another user account. If you confirm, the website will attempt to log you in as if
            they logged in themselves. You'll need to logout and log back in to restore your superuser access. If you cancel,
            nothing will happen.
        </p>
        <p style="color: red;">
            Technical Limitation: If you're using another authentication provider other than the built-in
            DNN provider, this feature may or may not work, depending on the type of authentication you have
            installed/enabled.
        </p>
        <div class="col-md-12 mt20">
            <div class="center">
                <a class="AM-btn AM-btn-primary AM-btn-large" id="saveButton"
                   href="@Url.Action("ImpersonateUserById", "UserManage", new {itemId = @Model.UserId})">
                    @Localization.GetString("Impersonate",
                           @ResourceFile)
                </a>
                <button id="cancelEdit" href="#" class="AM-btn AM-btn-default AM-btn-large">
                    @Localization.GetString("Cancel",
                           @SharedResourceFile)
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function ($, Sys) {
        $(function () {
            $('#cancelEdit').click(function () { dnnModal.closePopUp(false); });
            dnnEditBasicSettings();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
                dnnEditBasicSettings();
            });
        });
    }(jQuery, window.Sys));
</script>